*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height:auto;
	font-family: 'Helvetica';
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.clearfix:after{
	content:" ";
	display:block;
	claer:both;
	height:0;
}
.clearfix{
	zoom:1;
}
/*   mainPage   */
#mainPage{
	margin:20px auto;
	width:100%;
	height:auto;
	min-height:400px;
}
header.mainPage{
	width:100%;
	height:200px;
	background:url(../images/index_header.jpg) no-repeat 0 -370px;
	position: relative;
}
header.mainPage{
	box-shadow: 0px 2px 2px #aaa;
}
header.mainPage nav{
	width:50%;
	height: auto;
	margin:0 auto;
	padding:70px 0 0 0;
	position: relative;
}
header.mainPage nav ul{
	width:100%;
	float: left;
	margin:0 auto;
	position: relative;
}
header.mainPage nav ul li{
	width:55px;
	height:18px;
	line-height: 18px;
	margin:0 10px;
	padding:2px;
	position: relative;
	text-align: center;
	float:left;
	transition:all 3s;
}
header.mainPage nav ul li:hover{
	border-bottom:2px solid green;
}
/*    homework    */
#homework header{
	width:100%;
	height:auto;
	min-height:400px;
	margin:0 auto;
	position: relative;
}
	#picWall{
		position: relative;
		width:100%;
		height:600px;	
	}
		#picWall img{
			overflow: hidden;
		}
		#picWall .num{
			display:none;
		}